APP_NAME="CirMedMatanza Turnos"
APP_SHORT_NAME="CMM"
APP_LOGO="🏥"
APP_URL=http://localhost/turnero/public
DB_HOST=localhost
DB_NAME=byv_turnos
DB_USER=root
DB_PASS=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=